* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #2f3238;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .coluna1 {
    background-color: transparent;
    /* grid-area: i; */
    width: 15vw;
  }
  .coluna2 {
    background-color: transparent;
    /* grid-area: m; */
    width: 70vw;
    margin-top: 150px;
  }
  .coluna3 {
    background-color: transparent;
    /* grid-area: n; */
    width: 15vw;
  }
  @media screen and (max-width: 900px) {
    .coluna3 {
      display: none;
    }
    .coluna1 {
      display: none;
    }
    .coluna2 {
      width: 100vw;
    }
    /* .box1{
        height: 100px;
      } */
  }
  #titulo {
    font-size: 70px;
    text-align: center;
    padding: 10px;
    color: white;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #404440;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-image: url(../Imagens/imaemSlide.png);
    background-size: cover;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  input:checked + .slider {
    background-color: rgb(240, 237, 237);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(240, 237, 237);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
    background-size: cover;
    background-color: #777777;
  }
  .box1 {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin: 30px;
  }
  .imagem-box-1 {
    margin: 10px;
    background-color: transparent;
    width: 35vw;
    min-height: 100px;
    background-size: cover;
  }
  .texto-box-1 {
    margin: 10px;
    background-color: transparent;
    width: 65vw;
    min-height: 100px;
    font-size: 1vw;
  }
  p {
    text-indent: 30px;
    color: white;
  }
  img {
    /* background-size: cover; */
    width: 100%;
  }
  h2 {
    color: white;
  }
  #imgmain {
    margin-bottom: 40px;
    border-radius: 10%;
  }
  .nav-link {
    color: white;
  }
  .navbar-brand {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: x-large;
    font-style: italic;
    font-family: Chalkduster, fantasy;
    color: white;
  }
  #nav {
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  footer {
    width: 100%;
    background-color: rgba(46, 45, 45, 0.582);
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #imgfooter {
    width: 5vw;
    height: 5vh;
  }
  .logo-container {
    margin-right: 10px;
    margin-left: 5px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  
  nav ul li a:hover {
    color: #9493d1;
  }
  