*{
    margin: 0;
    padding: 0;
} 

body{
    background-image: url(https://img.freepik.com/fotos-premium/design-de-plano-de-fundo-gradiente-abstrato_509471-38.jpg?w=900);
    background-size: cover;  
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.header{
    background-color: rgb(89, 44, 212);
    height: 8vh;
    font-size: 24px;
    box-shadow: 28px 6px 151px 41px rgba(0,0,0,0.68);
}
.main{
    /* border: 1px solid white; */
    height: 77vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    background-color: rgb(46, 45, 45);
    height: 15vh;
    color: white;
    font-size: 24px;
    box-shadow: 1px 3px 76px 0px rgba(0,0,0,0.75);
    
}

.imagem{
    height: 180px;
}